.parent {
    width: 800px;
    background-color: #eee;
}

.parent div {
    float: left;
}

p {
    clear: both;
}

.one,
.two,
.three,
.four {
    background-color: #ccc;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.one {
    /* full width 100% */
    /* u need 30px of 100% */
    /* free space for ur elemnt (100%-30px/1) */
    width: calc((100% - 30px));

}

.three {
    width: calc((100% - 60px) / 3);

}

.two {
    width: calc((100% - 45px)/2);
}

.four {
    width: calc((100% - 75px) /4);

}

.onee,
.normal,
.twoo {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    /* Get The Background From Image */
    color: black;
}

.normal {
    background-color: #b3b3b3;
}

.onee {
    background-color: rgb(179 179 179 /0.1);
}

.twoo {
    opacity: 0.1;
}